@(message: String)

@main(message) {
    
	<h1>@message</h1>
	<h2>
		Welcome to the proof of concept application for the Play Framework.
	</h2>
	<p>The application has been developped by Valentin Cl&eacute;ment and Adrien Nicolet</p>
    
    <h3>Stateless programming</h3>
	<p>
		The goal of this part is to demonstrates how the stateless layer can be used upper the 
		business services exposed by Lotaris. Documentation about Java Cache on the playframework
		 website: <a href="http://www.playframework.org/documentation/2.0/JavaCache" target="blank">
		 http://www.playframework.org/documentation/2.0/JavaCache</a>
 	</p>
	<a href="/session">Session in cookies</a><br/>
	<a href="/cache">Distributed cache with EHCache</a><br/>
	<a href="/cacheas">Distributed cache as session</a><br/>
	
	
	<h3>Live code modification</h3>
	<p>
		The goal of this part is to demonstrate how the play framework uses the on fly compilation,
		in order to avoid a rebuild and deployment for any change on the application.
	 </p>
	<a href="/routesdemo">Start the demonstration</a><br/>
	
	<h3>EJB Connection</h3>
	<p>
		The goal of this part is to demonstrates how the play framework uses the on fly compilation,
		in order to avoid a rebuild and deployment for any change on the application.
	 </p>
 	<a href="/connector/form">Use a form to call the EJB</a><br/>
	<a href="/connector/rest">Direct call with REST</a><br/>
	<a href="/connector/springremote">Direct call with SpringRemote (RMI)</a><br/>

    
}